<!DOCTYPE html>
<html lang="en">

<head>
    <title>Django CRUD Operations</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <form method="get">
            {% block content %}
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <input type="text" name="Codebar">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qte</th>
                        <th>B_Price</th>
                        <th>S_price</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for st in stock %}
                    {% if st.Qte != 0 %}
                    <tr>
                        <td>{{st.Product}}</td>
                        <td>{{st.Qte}}</td>
                        <td>{{st.B_Price}}</td>
                        <td>{{st.S_price}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
            <form method="post" class="post-form" action="">
                <input type="hidden" name="csrfmiddlewaretoken"
                    value="nhjH4FJCanghLENgX7cVPAc57r5udyqvbdc0LaOghhGVwJe8WhAp0PoSgeU1SgTY">
                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <p>
                    <label for="id_Id_P">Id P:</label>
                    <select name="Id_P" required="" id="id_Id_P">
                        <option value="{{st.Id_P}}" selected="">{{st.Product}}</option>
                        {% for st in prudatc %}
                        <option value="{{st.Id_P}}">{{st.Product}}</option>
                        {% endfor %}

                    </select>


                </p>

                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <p>
                    <label for="id_qte">Qte:</label>
                    <input type="number" name="qte" required="" id="id_qte">


                </p>

                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <p>
                    <label for="id_Price">Price:</label>
                    <input type="number" name="Price" step="any" required="" id="id_Price">


                </p>

                <ul class="errorlist">
                    <li>This field is required.</li>
                </ul>
                <p>
                    <label for="id_Dtime">Dtime:</label>
                    <input type="date" name="Dtime" required="" id="id_Dtime">
                </p>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
                <meta http-equiv="REFRESH" content="0;url=/accounts/login/">
            {% endif %}
            {% endblock %}
        </form>
    </div>
</body>

</html>