{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/style.css' %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <title>Login</title>
</head>
<body>
    {% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url=/">
    {% else %}
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div >
            <div class="box_left">
                <div id="bg_login">
                    <img src="{% static '/img/logo.png' %}" alt="">
                </div>
            </div>
            <div class="box_right">
                <div class="cont_box">
                    <h2 class="title">LOGIN</h2>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" placeholder="Enter Your Email" autocomplete="username" name="username" id="id_username" class="input_login"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div>
                        <input id="id_password" placeholder="Password" autocomplete="current-password" type="password" class="input_login form-control" name="password">
                        </div>
                    </div>
                    <button type="submit" name="next" class="btn_login" value="{{ next }}">Login</button>
                </div>
            </div>
        </div>
    </form>    
{% endif %}
{% endblock %}
</body>
</html>